. {
    padding: 0;
    margin: 0;
}

body{
  background: #189DFF;
}

.menu{
	background: #18C7FF;
    padding: 1px;
}

.menu__li{
    list-style-type: none;
}

.menu__ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-right: 500px;
    margin-top: 25px;
}

.box{
  background: white;
  width: auto;
  display: flex;
}